In [11]:
#180509
#SarahFong

#The purpose of this script is to merge back together.
#.Bed files cannot have headers to perform a merge. 
#Then, to find meaningful enhancer signal among the fragments generated.

import os
import pandas

In [19]:
path = '/dors/capra_lab/users/fongsl/broadly_active_enhancers/data/roadmap_multi_data/'

# The resultant multiintersect_roadmap_enhancer.bed file
# Enhancers for each roadmap sample were stringently defined as H3K27AC with no overlapping H3K4me3 peaks

input_bed = 'short_multiintersect_roadmap.bed'

In [6]:
#Merge fragments that are within 100 bases of one another
#Collect a string of the samples the fragments come from, separated with a comma delimiter

cmd= "mergeBed -i %s/%s -d 100 -c 4 -o collapse -delim ','> %s/merged_%s"% (path, input_bed, path, input_bed)
print(cmd)

mergeBed -i /dors/capra_lab/users/fongsl/broadly_active_enhancers/data/roadmap_multi_data/short_multiintersect_roadmap.bed -d 100 -c 4 -o collapse -delim ','> /dors/capra_lab/users/fongsl/broadly_active_enhancers/data/roadmap_multi_data/merged_short_multiintersect_roadmap.bed

In [7]:
os.system(cmd)

0

In [66]:
# this merged file will serve as the genome reference

merged = "%smerged_%s"% (path, input_bed)
multi = "%s%s" % (path, input_bed)

In [67]:
dfm = pandas.read_table(merged, sep = '\t')

In [68]:
dfm[4]= dfm["3"].str.split(",").str.len()

In [ ]:
dfm[5]= dfm[3].astype('int')

In [69]:
dfm.head()

      0      1      2                          3   4
0  chr1   9998  10563  1,2,3,4,5,6,7,6,5,4,3,2,1  13
1  chr1  13045  15115                      1,2,1   3
2  chr1  16072  16614                          1   1
3  chr1  19949  20313                          1   1
4  chr1  78919  79787                          1   1

In [29]:
c = dfm[:3]
print(c.head())
c.to_csv("%sc.bed" %path, index = False, header = False, sep = '\t')

      0      1      2                          3
0  chr1   9998  10563  1,2,3,4,5,6,7,6,5,4,3,2,1
1  chr1  13045  15115                      1,2,1
2  chr1  16072  16614                          1

In [43]:
cmd = "bedtools genomecov -i %sa.bed -g %sc.bed -d> %sd.bed"% (path, path, path)
print(cmd)

bedtools genomecov -i /dors/capra_lab/users/fongsl/broadly_active_enhancers/data/roadmap_multi_data/a.bed -g /dors/capra_lab/users/fongsl/broadly_active_enhancers/data/roadmap_multi_data/c.bed -d> /dors/capra_lab/users/fongsl/broadly_active_enhancers/data/roadmap_multi_data/d.bed

In [44]:
os.system(cmd)

0

In [22]:
pwd

'/dors/capra_lab/users/fongsl/broadly_active_enhancers/baes/roadmap_multi'

In [47]:
a = pandas.read_table("%sa.bed" %path, sep='\t', header = -1)
c = pandas.read_table("%sc.bed" %path, sep='\t', header = -1)
d = pandas.read_table("%sd.bed" %path, sep='\t', header = -1)
d1 = d.loc[d[2] !=0]

In [46]:
print("Multiina,"\n")
print(c,"\n")
print(d,"\n")

      0      1      2  3                              4   5
0  chr1   9998  10016  1                           E073  18
1  chr1  10016  10024  2                      E073,E046   8
2  chr1  10024  10032  3                 E073,E055,E046   8
3  chr1  10032  10079  4            E073,E055,E046,E056  47
4  chr1  10079  10086  5       E073,E055,E091,E046,E056   7
5  chr1  10086  10102  6  E073,E055,E091,E046,E056,E068  16

      0      1      2                          3
0  chr1   9998  10563  1,2,3,4,5,6,7,6,5,4,3,2,1
1  chr1  13045  15115                      1,2,1
2  chr1  16072  16614                          1

          0      1  2
0      chr1      1  0
1      chr1      2  0
2      chr1      3  0
3      chr1      4  0
4      chr1      5  0
5      chr1      6  0
6      chr1      7  0
7      chr1      8  0
8      chr1      9  0
9      chr1     10  0
10     chr1     11  0
11     chr1     12  0
12     chr1     13  0
13     chr1     14  0
14     chr1     15  0
15     chr1     16  0
16     chr1     17  0
17     chr1     18  0
18     chr1     19  0
19     chr1     20  0
20     chr1     21  0
21     chr1     22  0
22     chr1     23  0
23     chr1     24  0
24     chr1     25  0
25     chr1     26  0
26     chr1     27  0
27     chr1     28  0
28     chr1     29  0
29     chr1     30  0
...     ...    ... ..
16042  chr1  16043  0
16043  chr1  16044  0
16044  chr1  16045  0
16045  chr1  16046  0
16046  chr1  16047  0
16047  chr1  16048  0
16048  chr1  16049  0
16049  chr1  16050  0
16050  chr1  16051  0
16051  chr1  16052  0
16052  chr1  16053  0
16053  chr1  16054  0
16054  chr1  16055  0
16055  chr1  16056  0
16056  chr1  16057  0
16057  chr1  16058  0
16058  chr1  16059  0
16059  chr1  16060  0
16060  chr1  16061  0
16061  chr1  16062  0
16062  chr1  16063  0
16063  chr1  16064  0
16064  chr1  16065  0
16065  chr1  16066  0
16066  chr1  16067  0
16067  chr1  16068  0
16068  chr1  16069  0
16069  chr1  16070  0
16070  chr1  16071  0
16071  chr1  16072  0

[16072 rows x 3 columns]

In [48]:
d1

          0      1  2
9998   chr1   9999  1
9999   chr1  10000  1
10000  chr1  10001  1
10001  chr1  10002  1
10002  chr1  10003  1
10003  chr1  10004  1
10004  chr1  10005  1
10005  chr1  10006  1
10006  chr1  10007  1
10007  chr1  10008  1
10008  chr1  10009  1
10009  chr1  10010  1
10010  chr1  10011  1
10011  chr1  10012  1
10012  chr1  10013  1
10013  chr1  10014  1
10014  chr1  10015  1
10015  chr1  10016  1
10016  chr1  10017  1
10017  chr1  10018  1
10018  chr1  10019  1
10019  chr1  10020  1
10020  chr1  10021  1
10021  chr1  10022  1
10022  chr1  10023  1
10023  chr1  10024  1
10024  chr1  10025  1
10025  chr1  10026  1
10026  chr1  10027  1
10027  chr1  10028  1
...     ...    ... ..
10072  chr1  10073  1
10073  chr1  10074  1
10074  chr1  10075  1
10075  chr1  10076  1
10076  chr1  10077  1
10077  chr1  10078  1
10078  chr1  10079  1
10079  chr1  10080  1
10080  chr1  10081  1
10081  chr1  10082  1
10082  chr1  10083  1
10083  chr1  10084  1
10084  chr1  10085  1
10085  chr1  10086  1
10086  chr1  10087  1
10087  chr1  10088  1
10088  chr1  10089  1
10089  chr1  10090  1
10090  chr1  10091  1
10091  chr1  10092  1
10092  chr1  10093  1
10093  chr1  10094  1
10094  chr1  10095  1
10095  chr1  10096  1
10096  chr1  10097  1
10097  chr1  10098  1
10098  chr1  10099  1
10099  chr1  10100  1
10100  chr1  10101  1
10101  chr1  10102  1

[104 rows x 3 columns]