In [ ]:
#!/bin/python

#sarahfong
#180530

In [1]:
import pandas
import os

In [3]:
os.system("source activate sf_test")

0

In [4]:
bedpath = "/dors/capra_lab/users/fongsl/broadly_active_enhancers/data/roadmap_multi_data/"

In [5]:
#file of the multiintersected roadmap enhancer peaks

bedfile ="short_multiintersect_roadmap.bed" 

df = pandas.read_table("%s%s"%(bedpath, bedfile), sep = '\t')
num = df['0'].unique()
for chr_num in num:
    chr_df = df.loc[df["0"]== chr_num]
    chr_df = chr_df[["0","1","2"]]
    chr_df.to_csv("%s%s_%s" %(bedpath, chr_num, bedfile), index = False, header = False, sep = '\t')

,0,1,2,3,4,5
0,chr1,1440605,1440986,37,"2,5,6,7,8,10,14,16,20,21,22,25,31,34,39,40,43,...",381
1,chr1,1757952,1757964,37,"2,3,5,9,10,14,17,20,22,23,25,29,31,32,35,37,38...",12
2,chr1,1757964,1757995,38,"2,3,5,9,10,13,14,17,20,22,23,25,29,31,32,35,37...",31
3,chr1,1757995,1758058,39,"2,3,5,9,10,13,14,17,20,22,23,25,29,31,32,35,37...",63
4,chr1,1758058,1758065,40,"2,3,5,9,10,13,14,17,20,22,23,25,29,31,32,35,37...",7

In [10]:
#the 99th percentile of overlapping roadmap multi-intersect enhancer peaks

bedfile99 = "99_short_multiintersect_roadmap.bed"
df99 = pandas.read_table("%s%s"%(bedpath, bedfile99), sep = '\t', header=-1)
num99 = df99[0].unique()
for chr_num in num99:
    chr_df = df99.loc[df99[0]== chr_num]
    chr_df = chr_df[[0,1,2]]
    chr_df.to_csv("%s%s_%s" %(bedpath, chr_num, bedfile99), index = False, header = False, sep = '\t')

In [ ]:
#the 90th percentile of villar overlapping roadmap enhancer peaks
datapath = "/dors/capra_lab/users/fongsl/broadly_active_enhancers/data/villar_ref_data/"
bedfile = "hspecific_villar_bae_hq_aln.bed"

df = pandas.read_table("%s%s"%(datapath, bedfile), sep = '\t')
num = df['v-chr'].unique()
for chr_num in num:
    chr_df = df.loc[df["v-chr"]== chr_num]
    chr_df.to_csv("%s%s_%s" %(datapath, chr_num, bedfile), index = False, header = False, sep = '\t')